
.card {
    margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  max-width: 40rem;
  padding: 0.8em;
  border: var(--borderOrange);
  background: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
    /* align-self: center; */
  max-width: 100%;
  overflow: hidden;
  height: auto;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

@media (min-width: 420px) {
  .card {
    flex-direction: row;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.41);
  }

  .card-contenido{
    width: 40%;
  }

  .card-img {
    margin-right: 2rem;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-family: var(--fuenteSecundaria);
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5;
}

.text-body {
  font-family: var(--fuenteSecundaria);
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

/*Button*/

.card-agregar-pedido{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.card-button{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

 .border-box{
  cursor: pointer;   
  border: var(--border);

 }

 .border-span{
  font-family: var(--fuenteSecundaria);
  font-weight: 600;
  font-size: 1.5rem;
  border-top: var(--border);
  border-bottom: var(--border);
 }

 .caja{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  max-height: 100%;
  max-width: 100%;
  /* padding: 1rem; */
 }

 .caja i{
  margin-top: .3rem;
 }
 
 .card-button-agregar{
  margin-top: .2rem;
  width: 100% ;
 }

 .card-button-agregar input{
  box-shadow: 0px 1px 0px 0px #fd7e14;
  cursor: pointer;
  color: white;
  background-color: #fd7e14;
  border-radius: .4em;
  border: .1rem solid white;
  font-family: var(--fuenteSecundaria);
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5rem 0;
  width: 100%;
 }

 .card-button-agregar input:hover{
  background-color: #FF7F50;
 }

 .card-button-agregar input:active{
  transform: translateY(1px);
  box-shadow: 0px 0px 0px 0px #fd7e14;
 }

 .card-footer-pedido {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
}



.card-button-eliminar{
  margin-top: .2rem;
  width: 100% ;
}

.card-button-eliminar input{
  opacity: 1;
  cursor: pointer;
  color: white;
  background-color: #dc3545;
  border-radius: .4em;
  border: .2rem solid white;
  font-family: var(--fuenteSecundaria);
  font-size: 1.5rem;
  font-weight: 700;
  padding: .5rem 0;
  width: 100%;
}

.card-button-eliminar input:hover{
  opacity: 0.8;
}