:root {
  --fuentePrincipal: "Montserrat", sans-serif;
  --fuenteSecundaria: "Open Sans", sans-serif;
}

.card {
    margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  max-width: 40rem;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
    /* align-self: center; */
  max-width: 100%;
  overflow: hidden;
  height: auto;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

@media (min-width: 420px) {
  .card {
    flex-direction: row;
  }

  .card-contenido{
    width: 40%;
  }

  .card-img {
    margin-right: 2rem;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-family: var(--fuenteSecundaria);
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5;
}

.text-body {
  font-family: var(--fuenteSecundaria);
  font-size: 1rem;
  padding-bottom: 1rem;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}
