:root {
  --fuentePrincipal: "Montserrat", sans-serif;
  --fuenteSecundaria: "Open Sans", sans-serif;
  --danger: #dc3545;
  --succes: #198754;
  --border:.5px solid #CACFD2;
  --borderOrange:.1rem solid #ff6000;
}

html {
  font-size: 62.5%; /** 1REM = 10pX **/
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f3f3dc;
  line-height: 1.5;
}
/* Utilidades */
.mostrar {
  /* modal */
  visibility: visible !important;
  opacity: 1 !important;
}

.centrar-flex{
display: flex;
align-items: center;
justify-content: center;
}

.mostrar-elemento {
  display: none;
}

.mostrar-contador{
visibility: visible !important;
opacity: 1 !important;
}


.ancho-50 {
  width: 80%;
}

.p-large {
  text-align: justify;
  font-family: var(--fuenteSecundaria);
  font-size: 1.5rem;
  color: #626262;
}

@media (min-width: 768px) {
  .centrar{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ancho-50 {
    width: 50%;
  }
  @media (min-width: 1224px ){ 
    .ancho-50 {
      width: 39%;
    }
   }

  .p-large {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    color: #626262;
  }
}
/* Global */
h1 {
  font-size: 3.2rem;
  margin: 0;
}

@media (min-width: 768px){ 
 h4{
  font-size: 2rem;
 }
 }

@media (min-width: 1225px) {
  h1 {
    font-size: 4.4rem;
    /* margin: 0.67em 0; */
  }
  h2 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2rem;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Encabezado */
.header-normal {
  display: none;
}

.logo {
  max-height: 7rem;
  max-width: 7rem;
}
.nombre-logo {
  display: flex;
  flex-direction: row;
}

.nombre-logo h4 {
  font-family: var(--fuentePrincipal);
  font-weight: 800;
}

.nombre-logo h4 span {
  color: #e54322;
}

.car-shoping{
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  color: #fff;
  background: #ff6000;
  border-radius: 50%;
  max-width: 3rem;
  max-height: 3rem;
  height: 100%;
  width: 100%;
  padding: 1rem;
  position: absolute;
  right: 31rem;
  top: 1.5rem; 
  transition: all 0.3s ease;
}

.car-shoping span{
  font-size: 1.7rem;
  font-family: var(--fuenteSecundaria);
  font-weight: 700;
}

@media (min-width: 768px) {
  .header-normal {
    padding: 1rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1224px) {
  .header-normal {
    padding: 1rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* Enlace a (anchor) del inicio de pedidos */
.btn-dropdown {
  color: #313130;
  text-decoration: none;
  font-family: var(--fuentePrincipal);
  font-weight: 800;
  font-size: 1.5rem;
}

.btn-dropdown span {
  color: #ff6000;
}

.dropdown-menu {
  text-align: center;
  max-width: 21rem;
  width: 21rem;
  background-color: white;
  border: 1px solid rgb(255, 96, 0);
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 4px 0px;
  margin-top: 0.5rem;
  padding: 2rem;
  position: absolute;
  z-index: 3;
  right: 10rem;
}

.dropdown-item {
  color: #313130;
  text-decoration: none;
  font-family: var(--fuentePrincipal);
  font-size: 1.5rem;
  font-weight: 700;
}

/* Contenedor principal */
.cuerpo {
  height: 100vh;
  background: #f3f3dc;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.cuerpo h1 {
  font-family: var(--fuenteSecundaria);
  line-height: 1.2;
}

.informacion-principal {
  padding: 0;
}
.imagen-principal {
  display: none;
}

.btn-responsive {
  width: 80%;
  display: block;
  background-color: #fff;
}

.btn-responsive input {
  cursor: pointer;
  font-family: var(--fuenteSecundaria);
  font-size: 1.5rem;
  font-weight: 700;
  border: 0.1rem solid #ff6000;
  border-radius: 0.5rem;
  height: 4rem;
  width: 100%;
  color: #ff6000;
  background-color: #f3f3dc;
  transition: 200ms linear;
}

.btn-responsive input:hover{
  color: #f3f3dc;
  background-color: #ff6000;
}

@media (min-width: 768px) {
  .cuerpo {
    background-image: linear-gradient(to left top, #f1aca4 0%, #f3f3dc 70%);
    padding: 0 0 0 7rem;
    height: 64vh;
    flex-direction: row;
    justify-content: space-between;
  }

  .cuerpo h1 {
    font-weight: 700;
  }

  .informacion-principal {
    padding: 0 5rem 0 0;
  }

  .imagen-principal {
    display: block;
  }
  .imagen-principal-responsive {
    display: none;
  }

  .btn-responsive {
    display: none;
  }
}

@media (min-width: 1224px) {
  .cuerpo {
    background-image: linear-gradient(to left top, #FADBD8  0%, #f3f3dc 70%);
    padding: 0 0 0 10rem;
    height: 64vh;
    flex-direction: row;
    justify-content: space-between;
  }

}

/* Contenedro categorias */
.lista-categorias{
  display: none;
}

@media (min-width: 768px){ 

.lista-categorias {
  padding: 4rem 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lista-categorias ul {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.item {
  cursor: pointer;
  overflow: hidden;
  /* Centramos los items dentro de la cuadricula del grid  "li"*/
  justify-self: center;
  align-self: center;
  /* ********** */
  padding: 1.8rem;
  width: 20rem;
  max-width: 20rem;
  border-radius: 0.8rem;
  box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.53);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  transition: 200ms linear;
}

.img-categoria {
  border-radius: 0.5rem;
  background: #ff6000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item:hover {
  background: #ff6000;
}
/* utilizando el selector de clase "img-categoria" despues del hover del primer div "item", especificamos su modificacion. */
.item:hover .img-categoria {
  background: #f3f3dc;
}

.item:hover .nombre-categoria p {
  color: #f3f3dc;
}

.img-categoria img {
  max-height: 4rem;
  max-width: 4rem;
}

.nombre-categoria p {
  text-align: center;
  color: #313130;
  font-family: var(--fuenteSecundaria);
  font-weight: 700;
  font-size: 1.5rem;
}
}

@media (min-width: 1224PX){ 
  .lista-categorias{
    padding: 0;
    height: 19.5vh;

  }

  .lista-categorias ul{
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
 }

 .input-group{
  display: none;
 }
 @media (min-width: 768px){ 
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .input-food {
    min-height: 5rem;
    max-width: 40rem;
    width: 100%;
    padding: 0 1rem;
    color: #626262;
    font-size: 1.5rem;
    font-family: var(--fuenteSecundaria);
    border: .2rem solid #ff6000;
    border-radius: .6rem 0 0 .6rem;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #ff6000;
    color: #fff;
    font-size: 15px;
    font-family: var(--fuenteSecundaria);
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #e64f2d;
  }
  
  .input-food:focus, .input:focus-visible {
    border-color: #ff6000;
    outline: none;
  }
  
  }